body,
html {
  margin: 0;
  font-family: "Inter", "Lora", "Merriweather";
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1200px;
  box-sizing: border-box;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.logo {
  width: 80px;
  margin-top: 40px;
  display: flex;
}

.home-link {
  position: absolute;
  right: 111px;
  top: 53px;
  width: 90px;
  color: rgb(111, 111, 111);
}
.home-link:hover {
  cursor: pointer;
}

.header {
  margin-left: 50px;
  font-family: "Inter", "Lora", "Merriweather";
}

.learnMore {
  position: absolute;
  right: 111px;
  top: 53px;
  width: 90px;
  color: rgb(111, 111, 111);
}
.learnMore:hover {
  cursor: pointer;
}
/* Footer styling */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-container {
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.footer-container hr {
  width: 90%;
  height: 2px;
  background-color: #ccc;
  border: none;
  margin-top: 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  margin: 30px;
  color: rgb(80, 80, 80);
}

.footer-title {
  margin-top: -10px;
  margin-left: 20px;
  font-weight: 400;
}
 .footer-title:hover {
  cursor: pointer;
 }

.column1 {
  list-style: none;
}

.column2 {
  list-style: none;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 70px;
  margin-left: auto;
  margin-top: 0px;
  margin-right: 80px;
}

.footer-links ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer-links li {
  list-style: none;
  margin-bottom: 20px;
  cursor: pointer;
}

/* About Page  */
.aboutPage {
  margin-left: 50px;
}

.aboutPg {
  width: 38%;
  display: absolute;
  left: 0;
}

.aboutTitle {
  color: rgb(129, 128, 128);
  font-weight: 400;
}
/* Main Page Styling */
.title {
  font-size: 6vh;
}

.App {
  font-family: "Inter", "Lora", "Merriweather";
}

.titlesnippet {
  font-size: 17px;
  font-weight: 300;
  color: rgb(91, 90, 90);
}

.becomeHostButton {
  background-color: black;
  height: 5vh;
  width: 20vw;
  color: white;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 15px;
  white-space: nowrap;
  min-width: 130px;
  min-height: 30px;
  max-width: 180px;
}

.becomeHostButton:hover {
  cursor: pointer;
}

.mainPage {
  position: relative;
  min-height: calc(100vh - 100px);
}
.learnMoreButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: black;
  height: 5vh;
  width: 20vw;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  min-width: 130px;
  min-height: 30px;
  border: none;
  max-width: 180px;
}

.mainBodyPic {
  display: flex;
}

.lambPicMain {
  width: 80vw;
  margin: auto;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.mainBodyPg {
  display: block;
  width: 90vw;
  margin-left: 20px;
  margin-bottom: 100px;
}

.bottomBody {
  display: block;
  width: 90vw;
  margin-left: 20px;
  margin-bottom: 100px;
}

.mainBodyTitle {
  display: block;
  width: 90vw;
  margin-left: 20px;
}

.chickenPicMain {
  width: 100vw;
}
.cowPgMain {
  float: left;
  width: 30vw;
  padding-bottom: 50px;
}
.cowsPicMain {
  float: right;
  width: 50vw;
}

.twoChickens {
  position: absolute;
  right: 0;
  top: 165px;
  margin: 20px;
  width: 50%;
  display: flex;
}
/* Dropdown Menu Styling */

.dropdown-container {
  position: absolute;
  right: 50px;
  top: 40px;
}

.menu-image {
  margin-left: -2px;
  margin-top: -2px;
  width: 50px;
  height: 50px;
}

.dropdown-menu {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 46px;
  height: 46px;
  border-radius: 8px;
  font-family: "Inter", "Lora", "Merriweather";
}

.dropdown-menu:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3), 0 0 4px 2px rgba(141, 138, 144, 0.9);
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: -162px;
  background: white;
  font-family: "Inter", "Lora", "Merriweather";
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  text-align: center;
  margin-top: 20px;
  height: 130px;
}

.menu-item {
  padding: 5px;
  color: rgb(0, 0, 0);
  width: 190px;
  margin-top: 10px;
}

.menu-item:hover {
  cursor: pointer;
  background-color: lightgray;
  color: rgb(0, 0, 0);
}

.dropdown-content hr {
  border: none;
  height: 1px;
  border-radius: 5px;
  background-color: #ccc;
  margin: 8px 0;
}
/* Contact Form styling */
.contact-form {
  width: 80%;
  margin: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin: 20px;
}

.submit-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  width: 98%;
  height: 60px;
  display: block;
  margin-top: 30px;
  margin-left: 17px;
  font-size: 20px;
  font-weight: 400;
}

.submit-button:hover {
  background-color: rgb(47, 47, 47);
  cursor: pointer;
}

.name-fields {
  display: flex;
  gap: 20px;
}

.name-fields .form-group {
  flex: 1;
}

.contact-form input {
  margin-top: 20px;
  height: 30px;
  box-shadow: 0px 0px 6px rgba(52, 52, 52, 0.755);
  border-radius: 10px;
  border: none;
}

.form-group input,
.form-group textarea {
  padding: 8px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.message-field {
  font-family: "Inter", "Lora", "Merriweather";
  box-shadow: 0px 0px 6px rgba(52, 52, 52, 0.755);
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}

/* Login Page */

.login-container {
  display: grid;
  place-items: center;
  height: 60vh;
}

.login-form {
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-top: 20px;
}

.login-form input {
  margin: 20px;
  padding: 10px;
}

.login-button {
  width: 80%;
  margin: auto;
  background-color: rgb(251, 113, 78);
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
}

.signup-link {
  margin-top: 20px;
  font-size: 15px;
  border-radius: 10px;
  background-color: aliceblue;
  width: 75%;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
}

.signup-link:hover {
  cursor: pointer;
}

/* Signup page */

.signup-container {
  width: 80%;
  max-width: 500px;
  background: white;
}

.signup-form {
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.signup-form input {
  padding: 5px;
  margin: 10px;
  width: 80%;
  box-sizing: border-box;
}

.signup-form label {
  margin-top: 20px;
}

.becomeHostInfo {
  max-width: 1000px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.accountDetails {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 275px;
  width: 275px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 50px;
  padding: 20px;
}

.accountDetails h2 p {
  margin: 2px 0;
  line-height: 1;
}

.outer-res-container {
  margin: auto;
  display: grid;
  place-items: center;
  height: auto;
  width: 80vw;
  padding: 50px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.reservations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

@media (max-width: 768px) {
  .reservation-card {
    width: 100%;
  }
}

.view-av-animals {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.save-new-dates {
  background-color: black;
  color: white;
  border: none;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.reservation-card {
  margin: 10px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 10px;
  width: 50%;
  padding-bottom: 10px;
  text-align: center;
  max-width: 500px;
  min-width: 280px;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

.animals-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.animals-card {
  margin: 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 10px;
  text-align: left;
  width: 250px;
  padding-bottom: 10px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.animal-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: right;
}

.animal-details-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  gap: 10%;
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 1.7vw;
}

.animal-image {
  width: 50%;
  height: auto;
}

.animal-details {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: flex-start;
}

.dates-form {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.error-message, .success-message {
  margin-top: 10px;
}

button {
  margin-top: 20px;
}

.animals-card:hover {
  transform: scale(1.05);
}

.animals-card:focus {
  outline: 3px solid rgba(0, 0, 0, 0.5);
  outline-offset: 2px;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3),
    0 0 12px 3px rgba(141, 138, 144, 0.9);
}

.edit-reservations-container {
  display: block;
  justify-content: center;
  text-align: center;
}

.dates-form input {
  margin: 5px;
}

.dates-form button {
  margin: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.host-animals {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.host-animals:hover {
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}

.save-res {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.save-res:hover {
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}


.header-img {
  position: absolute;
  top: 0;
  z-index: -100;
  height: 280px;
  width: 100vw;
  object-fit: cover;
  filter: brightness(70%);
}

.header-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
